{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"env": {
		"node": true,
		"browser": true
	},
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"classes": true,
		"defaultParams": true,
		"destructuring": true,
		"forOf": true,
		"modules": true,
		"objectLiteralComputedProperties": true,
		"objectLiteralShorthandMethods": true,
		"objectLiteralShorthandProperties": true,
		"spread": true,
		"superInFunctions": true,
		"templateStrings": true,
		"unicodeCodePointEscapes": true,
		"jsx": true
	},
	"rules": {
		"no-tabs": 0,
		"no-unused-vars": 0,
		"class-methods-use-this": 0,
		"no-alert": 0,
		// Soft some rules.
		"arrow-parens": 0, // Does not work with Flow generic types.
		"global-require": 0, // Used by webpack isomorphic tools and React Native.
		"import/first": 0, // Este sorts by atom/sort lines natural order.
		"import/prefer-default-export": 0, // No. Actions can have just one action.
		"jsx-a11y/anchor-has-content": 0, // Does not work with new components.
		"jsx-a11y/html-has-lang": 0, // Can not recognize the Helmet.
		"no-confusing-arrow": 0, // This rule is confusing.
		"no-mixed-operators": 0, // Prettier ftw.
		"no-nested-ternary": 0, // Nice for JSX.
		"no-param-reassign": 0, // We love param reassignment. Naming is hard.
		"no-shadow": 0, // Shadowing is a nice language feature. Naming is hard.
		"indent": 0, // Prettier ftw.
		// React.
		"react/forbid-prop-types": 0, // Este is going to use Flow types.
		"react/jsx-filename-extension": 0, // No, JSX belongs to .js files.
		"react/jsx-closing-bracket-location": 0, // Prettier ftw.
		"react/jsx-indent": 0, // Prettier ftw.
		"react/jsx-indent-props": 0, // Prettier ftw.
		"react/no-unused-prop-types": 0, // Este is going to use Flow types.
		"react/prop-types": 0, // Can not detect flowtype correctly.
		"react/require-default-props": 0 // Checked by flowtype.
	},
	"plugins": [
		"react"
	]
}
